.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.track {
  display: flex;

  &.fast {
    -webkit-animation: scroll 30s linear infinite;
    animation: scroll 35s linear infinite;
  }

  &.slow {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
  }

  &.md {
    -webkit-animation: scroll 35s linear infinite;
    animation: scroll 35s linear infinite;
  }

  &.warp {
    -webkit-animation: scroll 10s linear infinite;
    animation: scroll 10s linear infinite;
  }
}

.slide {
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 3rem;
  }
}